<!doctype html>
<html>

<head>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../slider.js"></script>
    <link href="../slider.css" rel="stylesheet">
    <style>
        body {
            width: 600px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div ng-app="ch.examples.slider">
        <h1>Slider test</h1>
        <slider model="sliderValue" step="{{ sliderStep }}" min="{{ sliderMin }}" max="{{ sliderMax }}">
        </slider>
        <br>
        <label>Value
            <input ng-model="sliderValue">
        </label>
        <br>
        <label>Min
            <input ng-init="sliderMin = 50" ng-model="sliderMin">
        </label>
        <br>
        <label>Max
            <input ng-init="sliderMax = 200" ng-model="sliderMax">
        </label>
        <br>
        <label>Step
            <input ng-init="sliderStep = 2" ng-model="sliderStep">
        </label>
    </div>
    <script>
        angular.module('ch.examples.slider', ['chasselberg.slider']);
    </script>

</body>

</html>
